.slide-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    outline: 0;
    padding: 0;
    margin: 200px 20px;
    z-index: 4;
    border-radius: 30px;
  
    span {
      width: 25px;
      color: #fff;
      display: block;
      margin: 0 auto;
    }
  
    &--next {
      right: 0;
  
      span {
        transform: rotateZ(-90deg);
      }
    }
  
    &--prev {
      left: 0;
  
      span {
        transform: rotateZ(90deg);
      }
    }
  }